html {
	background: #fff;
	color: #666;
}
body {
	margin: 0px;
	padding: 0px;
}

input {
	padding: 6px 3px;
	font-size: 12px;
	color: #666;
	border: solid 1px #b8b8b8;
}
div {
        color: #000;
    
}