* { margin: 0; padding: 0; }
html { min-width: 996px; }
body { background: url("/images/default/bodybg1.jpg"); background-repeat:repeat; }
.head { width:920px; float:left; margin-top:50px; background-image: url("/images/default/topleft.png"); background-repeat:no-repeat;
	     background-position: top left}
.btn  {float:left; width:830px; height:28px; margin:0px auto;}
.lang {float:right; margin-right:5px;}
.lang a{ margin-right:5px;}
.sbox {background: url("/images/default/sbox.png") no-repeat; width:151px; height:20px; float:right; margin-right:25px; margin-top:-1px;} 	  	

#slides { width:826px; height:247px; background: url("/images/default/slidebg.png") no-repeat; float:left; margin-left:48px; position:relative; padding-top:4px;}

.menupanel { width:719px; height:55px; background: url("/images/default/menubg.png") no-repeat; float:left; position:relative; margin-left:111px; margin-top:-4px;}
.menu {float:left; list-style:none; margin:0px; padding:0px; float:right; padding-right:8px; }
.menu li{float:left; list-style:none;}
.menu li img{ padding-top:10px;}
.menu li a{ padding:10px 10px 10px 10px; line-height:55px; font-weight:bold; text-decoration:none; color:#893001;}
.menu li a:hover{color:#ad5d0d;}


.logo {position:absolute; z-index:99; margin-left:-80px; margin-top:-30px;}


.content {background: url("/images/default/bodybg1.jpg"); background-repeat:repeat; float:left; width:100%; min-height:500px; padding-bottom:50px;}
.board   { float:left; width:807px; height:222px;  background: url("/images/default/board.png") no-repeat; margin:25px 0px 10px 17px;}
.boardinfo {width:350px; float:right; padding-right:55px;}
.board .title {  font-size:14px; font-weight:bold; color:#772106; padding:10px 0px 0px 0px;}
.board .content{ font-size:10px; color:#772106;}
.boardname { font-size:12px; color:#FFF; float:left; padding-top:173px; font-weight:bold; padding-left:25px; font-size:16px;}

.row {width:807px; min-height:30px; float:left; margin:5px 0px 10px 23px; font-size:12px;}

.rowlink a{background: url("/images/default/row.png") no-repeat; padding:15px; float:left; padding-right:25px; margin-top:4px;}
.rowtxt {width:750px; float:left;}

.sep {float:left; width:100%; height:20px; clear:both;}
.articles { width:785px; margin:0px auto; }

.arrow {float:left; width:197px; height:150px; background-color:#FFFFFF; margin-right:10px;}
.arrow .arrhead{ background-image:url(/images/default/articlebg.png); background-repeat:no-repeat; width:197px; height:38px; background-position:top center;}
.arrow h1{ color:#FFFFFF; font-weight:bold; font-size:14px; font-family:"Times New Roman", Times, serif; line-height:38px; padding-left:15px;}
.arrow p{ padding:0px; margin:0px; color:#333333; font-size:12px; padding:5px 10px 5px 10px; font-style:normal; float:left;}

.linkrow {width:20px; height:9px;background-image:url(/images/default/linkrow.png); background-repeat:no-repeat; float:right; padding-right:10px;}

.arrowc {float:left; width:164px; height:150px; background-color:#FFFFFF;}
.arrowc .arrheadc{ width:197px; height:38px; background-position:top center;}
.arrowc h2{font-size:14px; font-weight:bold; color:#772106; font-size:16px; line-height:38px; padding-left:15px;}
.curs {padding-left:25px; color:#666666; font-size:11px; font-weight:bold;}
.curs img{ margin-bottom:-2px !important; padding-right:15px;}


.static {float:left; width:807px; margin:0px auto; padding:30px 20px 10px 20px;}
.statictitle {}
.statictitle h1{ font-size:18px; font-weight:bold; color:#990000; line-height:35px;}
.statictxt { width:710px; margin:0px auto; text-align:justify; padding-right:15px}
.statictxt img{ width:80px; border:1px solid #999999; padding:1px; background-color:#FFFFFF;}

.events {float:left; width:807px; margin:0px auto; padding:30px 20px 10px 20px;}
.eventrow { width:100%; float:left; margin-bottom:25px}
.eventtitle  { width:100%;}
.eventtxt { width:710px; margin:0px auto; text-align:justify; padding-right:15px; float:left;}
.eventlink {float:left; font-size:16px; padding-top:6px; font-weight:bold; color:#990000; text-decoration:none;}
.eventlink:hover {float:left; font-size:16px; padding-top:6px; font-weight:bold; color:#990000; text-decoration:underline;}

.eventlink:link {color:#990000;}      /* unvisited link */
.eventlink:visited {color:#990000;}  /* visited link */
.eventlink:active {color:#990000;}  /* selected link */ 


.morelink {width:100%; float:left; padding-top:10px; font-size:12px; color:#990000; text-decoration:none; text-decoration:underline}
.morelink:link {color:#990000;}      /* unvisited link */
.morelink:visited {color:#990000;}  /* visited link */
.morelink:active {color:#990000;}  /* selected link */ 



.shop {float:left; width:807px; margin:0px auto; padding:30px 20px 10px 20px;}
.shoprow {float:left; width:189px; height:230px; background-color:#FFFFFF; margin-right:12px; margin-bottom:40px;}
.shopqality {position:absolute; margin-left:139px; width:50px; height:92px; background-image:url(/images/default/qality.png); background-repeat:no-repeat;} 
.shophead {float:left; width:189px; height:33px; background-image:url(/images/default/shophead.png); background-repeat:no-repeat;}
.shophead h1{float:left; line-height:33px; font-size:14px; color:#CCCCCC; padding-left:10px;}
.shopprice {float:left; width:100px; height:25px; background-image:url(/images/default/pricebg.png); background-repeat:no-repeat; position:absolute; margin-top:32px; text-align:center;}
.shopprice opt{font-size:11px; font-weight:bold; line-height:20px; color:#000033;}
.shopimg {text-align:center;}
.shopimg img{}
.shopdt {float:left; width:189px; height:30px;}
.shopdt a{ color:#FF0000 !important; font-weight:bold; text-transform:uppercase;}
.brand {padding:8px;}
.detalii {float:right; padding:4px 10px 0px 0px; color:#FF0000;}


#main-container{
	width:350px;
	margin:0px auto;
}

#form-container{

	padding:15px;

}

td{
	white-space:nowrap;

}

a, a:visited {
	color:#00BBFF;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}





label{
	text-transform:uppercase;
	font-size:10px;
	font-family:Tahoma,Arial,Sans-serif;
	padding-bottom:5px;

	
}

textarea,input{
	color:#404040;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	border:1px solid #666666;
}

td > button{
	text-indent:8px;
}

.error{
	background-color:#AB0000;
	color:white;
	font-size:10px;
	font-weight:bold;
	margin-top:10px;
	padding:10px;
	text-transform:uppercase;
	width:240px;
}

#loading{
	position:relative;
	bottom:9px;
	visibility:hidden;
}

.tutorial-info{
	color:white;
	text-align:center;
	padding:10px;
	margin-top:10px;
}

#calculate {width:790px;position:relative; margin-top:25px; background:#fff url(image.jpg) no-repeat bottom center; border:1px solid #fbdd59; }
#calculate table {border:1px solid #fbdd59;}
#calculate table td {padding:7px; text-align:center;}
#calculate table th {background: #fceabb;background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93));filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 );background: -o-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);}
.vertical {background:#F1F1F1;}